.cards-container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1200px;
  justify-content: center;
}
a {
  margin: 8px;
  background-color: #2e8b57;
  color: white;
  border: 1px solid #2c6846;
  padding: 6px 14px;
  border-radius: 2px;
  cursor: pointer; 
}